html, body {
  font-size: 16px;
  margin: 0;
  width: 100%;
  height: 100%;
}


.hero {
  background-color: #ffc233;
  padding: 0.5rem 0;
}

.container {
  max-width: 560px !important;
  padding: 0 15px;
  margin: 0 auto; 
}

body h1, h2, h3 {
  line-height: 1.2;
}

body h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

body h2 {
  font-size: 1.5rem;
  font-weight: 650;
}

body h3 {
  font-size: 1rem;
  font-weight: 650;
}

body b {
  font-weight: 650;
}

body p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

body a {
  color: #ffc233;
  text-decoration: underline;
}

body a:hover {
  color: #d97d00;
}

.bullet {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 20px;
}

.img-me {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

table {
  width: 100%;
}

table td, table th {
  padding: 8px 20px;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .img-me {
    max-width: 290px;
    margin-bottom: .5rem;
  }

  .container {
    max-width: 710px !important;
  }
}

@media (min-width: 992px) {
  .img-me {
    max-width: 310px;
  }

  .container {
    max-width: 950px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;