body {
  font-size: 16px;
  margin: 0
}


.hero {
  background-color: #ffc233;
  padding: 0.5rem 0;
}

.container {
  margin: 0 auto; 
}

h1, h2, h3 {
  font-weight: 600 !important;
  line-height: 1.2;
}

b {
  font-weight: 600;
}

h1 {
  font-size: calc(1.375rem + 1.5vw) !important;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

a {
  color: #ffc233 !important;
}


.link {
  text-decoration: underline;
}

a:hover {
  color: #d97d00;
}

.bullet {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 20px;
}

.img-me {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
  max-width: 50%;
  height: auto;
  border-radius: 4px;
}

table {
  width: 100%;
}

table td, table th {
  padding: 12px 20px;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

@media (min-width: 992px) {
  .img-me {
      max-width: 310px;
  }
}

@media (min-width: 768px) {
  .img-me {
      max-width: 290px;
      margin-bottom: .5rem;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;