body {
  font-size: 16px;
  margin: 0
}

h1, h2, h3 {
  font-weight: 700 !important;
}

b {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1.5rem;
  font-weight: 400;
}

a {
  color: #ffc233 !important;
}

.link {
  text-decoration: underline;
}

a:hover {
  color: #d97d00;
}

.bullet {
  list-style-type: disc;
  padding-left: 20px;
}



@tailwind base;
@tailwind components;
@tailwind utilities;