html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #212529;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* System defaults like tailwindcss */
  color: #212529;
}

.hero {
  background-color: #ffc233;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23ffce5c' fill-opacity='0.73' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.body-container {
  margin: 0 auto;
  padding: 0 10px;
}

body h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
}

body h1 {
  font-size: calc(1.25rem + 1.5vw);
  font-weight: 500;
}

body h2 {
  font-size: 1.5rem;
  font-weight: 650;
}

body h3 {
  font-size: 1.25rem;
  font-weight: 650;
}

body h4 {
  font-size: 1rem;
}

body h5 {
  font-size: 0.875rem;
}

body h6 {
  font-size: 0.75rem;
}

body h4, h5, h6 {
  font-weight: 400;
}

body b, body strong {
  font-weight: 650;
}

body p {
  margin-bottom: 1rem;
  font-weight: 400;
}

body a {
  color: #ffc233;
  text-decoration: underline;
}

body a:hover {
  color: #d97d00;
  transition: all 300ms ease-in-out;
}

.page-content {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-content::after {
  content: "";
  display: block;
  clear: both;
}

.page-content img {
  display: block;
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.page-content .img-me {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  max-width: 350px;
  height: auto;
  border-radius: 4px;
  vertical-align: middle;
}

li {
  margin-bottom: 1rem;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
}

nav {
  width: 100%;
  background-color: #212529;
  padding: 0.5rem 0 0.5rem 0;
}

nav li {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

nav a {
  color: #ffc233;
  text-decoration: none;
}

nav a:hover {
  color: #ffb300;
}

.navbar-homename {
  font-size: 1.375rem;
  padding-right: 1rem;
}

.navbar-link-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.nav-headings-open-hamburger {
  display: block;
}

.nav-headings-closed-hamburger {
  display: none;
}

.hamburger-container {
  display: flex;
  align-items: center;
}

.hamburger-button {
  all: unset;
  color: #ffc233;
  cursor: pointer;
}

.hamburger-button:hover {
  transition: all 300ms ease-in-out;
}

.hamburger {
  width: 1.5rem;
  height: 1.5rem;
}

.headings-with-hamburger {
  display: block;
  transition: all 500ms ease-in-out;
  overflow: hidden;
  padding: 0;
  margin-left: -28px;
}

.headings-without-hamburger {
  display: none;
  margin-left: -20px;
}

.hamburger-open {
  max-height: 100vh;
  opacity: 1;
}

.hamburger-closed {
  max-height: 0;
  opacity: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  padding: 8px 20px;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

.table-title, .article-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.table-button {
  all: unset;
  cursor: pointer;
}

.table-container {
  display: block;
  overflow-x: auto;
  width: 100%;
  padding: 10px 0;
}

.article-container {
  width: 100%;
  min-height: 60px;
  padding: 8px 0 2px 0;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.article-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 5px 0;
}

.article-title-button {
  display: inline-flex;
  align-items: center;
}

.article-heading {
  padding-left: 10px;
  
}

.article-links {
  padding-right: 8px;
}

.article-info span, .article-info a {
  padding-left: 5px;
  
}

.article-bottom {
  display: flex;
  padding: 5px 8px 0 8px;
  flex-direction: column;
  justify-content: center;
}

.article-details {
  display: flex;
  padding: 0 2px;
  flex-direction: column;
  justify-content: center;
}

.article-abstract-container {
  padding: 2px;
}

.article-description {
  font-weight: 700;
}

.article-abstract {
  margin: 2px 0;
}


.article-journal {
  padding: 0 5px 0 10px;
  text-align: right;
}

.article-toggle {
  min-width: 40px;
  background-color: #212529;
  font-size: 28px;
  border-radius: 16px;
  color: white;
  margin: 0 4px;
}

@media (min-width: 640px) {
  .nav-content {
    justify-content: flex-start;
  }

  .navbar-link-item {
    padding: 0.5rem;
  }

  .hamburger-container {
    display: none;
  }

  .nav-headings {
    display: flex;
  }

  .headings-without-hamburger {
    display: block;
  }

  .headings-with-hamburger {
    display: none;
  }
}

@media (min-width: 768px) {
  .img-me {
    max-width: 290px;
    margin-bottom: 0.5rem;
  }

  .body-container {
    max-width: 710px;
  }

  table td, table th {
    min-width: 220px;
  }
}

@media (min-width: 992px) {
  .img-me {
    max-width: 310px;
  }

  .body-container {
    max-width: 950px;
  }

  .article-info {
    display: inline-flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .body-container {
    max-width: 1120px;
  }
}

@media (min-width: 1400px) {
  .body-container {
    max-width: 1300px;
  }
}